.btn-wx-login{
    position: fixed;
    bottom: 5rem;
    width: 80%;
    left:10%;
    z-index: 3;
}


.top-gap-3{
    margin-top: 3rem;
}
.top-gap-6{
    margin-top: 6rem;
}

.top-gap-10{
    margin-top: 10rem;
}
.game .currentNum{
    height: 7rem;
    line-height: 7rem;
}

.game .anwserList{
    margin: 3rem 0;
}

.game .title{
    line-height: 1.45;
}

.game .anwserList button{
    margin: 1rem 0;
}




.banner{
    text-align: center;
    padding: 4rem 0;
}
.banner img{
    width: 100%;
}
.banner .normal{
    color:#555;
}
.banner .normal.first{
    margin-top: 6rem;
}



.login-bg{
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background-image: url("../images/bg_1.jpg");
}

.start-bg{
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background-image: url("../images/cunt_money.gif");
}

.mask{
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background: rgba(0,0,0,.3);
    z-index: 2;
}
.app-name{
    position: fixed;
    top:6rem;
    left:0;
    right: 0;
    font-size: 7rem;
    color:#fff;
    width: 100%;
    text-align: center;
    z-index: 3;
}

button{
    outline: none !important;
}

.loading{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
